*{margin: 0;padding: 0}
img{max-width: 100%}
#moviesRow{background: #fff;margin: 40px auto;width:700px;height:250px;border: 1px solid #ddd;}
.movieBox{text-align: center;margin:0 10px;width:150px;list-style-type: none;float:left;height:100%}
.mPost img{margin-top:10px;width:128px}
.mTitle{text-align: center}
.mScore{font-size: 14px;color: #E9967A}
button{
    margin-right: 40px;
    width: 160px;
    height:30px;
    background: #fff;
    border: 2px solid salmon;
    border-radius: 2px;
    font-size: 20px;
    color: salmon
}